<div>
    <div class="d-flex">
        <button class="btn btn-warning m-2" type="button" data-bs-toggle="modal" data-bs-target="#nuevocontrolmodal">
            Agregar campo
        </button>
    </div>
    <div class="modal fade" id="nuevocontrolmodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header h4">
                    <!-- TITULO-->
                     Definici&oacute;n de nuevo control
                </div>
                <div class="modal-body">
                    <div>
                        <!--TIPO DE CONTROL-->
                        <label for="tipocontrolid">Tipo de control</label>
                        <select class="form-select" name="tipocontrol" id="tipocontrolid">
                            <option [value]="''">Selecciona el tipo de control...</option>
                            <option [value]="'text'">Texto</option>
                            <option [value]="'select'">Lista de opciones</option>
                            <option [value]="'check'">Opci&oacute;n</option>
                        </select>
                    </div>
                    <div>
                        <!-- ETIQUETA DEL CONTROL -->
                         <label for="etiquetaid">Etiqueta del control</label>
                         <input class="form-control" type="text" name="etiquetaname" [(ngModel)]="labelControl" id="etiquetaid" placeholder="Ingresa el texto de la etiqueta">
                    </div>
                    <div class="form-control mt-3">
                        <!-- VALIDACIONES DEL CONTROL -->
                         <div class="h5">
                            Validaciones
                         </div>
                         <div class="form-check">
                            <input class="form-check-input" [(ngModel)]="requiredValidation.status" type="checkbox" name="requeridoname" id="requeridoid">
                            <label class="form-check-label" for="requeridoid"> Requerido </label>
                         </div>
                         <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input" [(ngModel)]="minLengthValidation.status" type="checkbox" name="lminimaname" id="lminimaid">
                            </div>
                            <input class="form-control" type="text" [disabled]="!minLengthValidation.status" [(ngModel)]="minLengthValidation.valueValidation" name="longitudvaluename" id="longitudvalueid" placeholder="Longitud mínima" >
                         </div>
                         <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input" [(ngModel)]="maxLengthValidation.status" type="checkbox" name="lmaximaname" id="lmaximaid">
                            </div>
                            <input class="form-control" type="text" [disabled]="!maxLengthValidation.status" [(ngModel)]="maxLengthValidation.valueValidation" name="longitudvaluename" id="longitudvalueid" placeholder="Longitud máxima" >
                         </div>
                         <div class="input-group mt-2">
                            <div class="input-group-text">
                                <input class="form-check-input" [(ngModel)]="patterRegexValidation.status" type="checkbox" name="lregexname" id="lregexid">
                            </div>
                            <input class="form-control" type="text" [disabled]="!patterRegexValidation.status" [(ngModel)]="patterRegexValidation.valueValidation" name="regexvaluename" id="regexdvalueid" placeholder="Regex" >
                         </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-bs-dismiss="modal" type="button" (click)="createElement()">Agregar control</button>
                    <button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
